extends layout

block content
  .page-header
    h3 My Ticket

  form.form-horizontal(id='ticket-form', method='POST', action='/ticket')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-3 control-label', for='email', id='email') Email
      .col-sm-9
        label(class='col-sm-3', id='email-val') #{user.email}
    .form-group
      label(class='col-sm-3 control-label', for='name') Name
      .col-sm-9
        input.form-control(type='text', name='name', id='name', value=ticket.name)
    if ticket.isInKorea
      .form-group()
        label(class='col-sm-3 control-label', for='mobile') Mobile
        .col-sm-9
          input.form-control(type='text', name='mobile', id='mobile', value=ticket.mobile)
    .form-group
      label(class='col-sm-3 control-label', for='nationality') Nationality
      .col-sm-9
        input.form-control(type='text', name='nationality', id='nationality', value=ticket.nationality)
    .form-group
      label(class='col-sm-3 control-label', for='affiliation') Affiliation
      .col-sm-9
        input.form-control(type='text', name='affiliation', id='affiliation', value=ticket.affiliation)
    .form-group
      label(class='col-sm-3 control-label', for='position') Position
      .col-sm-9
        input.form-control(type='text', name='position', id='position', value=ticket.position)
    .form-group
      label(class='col-sm-3 control-label', for='advisor') Adivisor
      .col-sm-9
        input.form-control(type='text', name='advisor', id='advisor', value=ticket.advisor)
    .form-group
      label(class='col-sm-3 control-label') Payment Complete
      .col-sm-9
        if ticket.isPaid
          label(class='col-sm-2' id='isPaid-val') Yes
        else
          label(class='col-sm-2' id='isPaid-val') No

    .form-group(class='hidden')
      label(class='col-sm-3 control-label') is Korean?
      .col-sm-9
        if ticket.isInKorea
          label(class='col-sm-2' id='isKorean-val') Yes
        else
          label(class='col-sm-2' id='isKorean-val') No

    // .form-group
    //   .col-sm-offset-3
    //     .col-sm-3
    //       button.btn.btn-primary(type='submit')
    //         i.fa.fa-pencil
    //         | Modify Ticket
    .form-group
      label(class='col-sm-3 control-label') Reciept
      .col-sm-9
        button.btn.btn-primary(id='btn-reciept', type='submit')
          i.fa.fa-file-text
          | Download Receipt & Modify Ticket

  // ** DIABLED ** 
  // form.form-horizontal(action='/ticket/delete', method='POST')
  //   input(type='hidden', name='_csrf', value=_csrf)
  //   .form-group
  //     label(class='col-sm-3 control-label') Ticket Removal
  //     .col-sm-9
  //       button.btn.btn-danger(type='submit')
  //         i.fa.fa-trash
  //         | Remove Ticket


