extends layout

block content
  .page-header
    h3 My Ticket

  script(src='../public/js/pay.js')

  form.form-horizontal(action='/ticket/modify', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-3 control-label', for='email') Email
      .col-sm-9
        label(class='col-sm-3', id='email') #{user.email}
    .form-group
      label(class='col-sm-3 control-label', for='name') Name
      .col-sm-9
        input.form-control(type='text', name='name', id='name', value=ticket.name)
    if ticket.isInKorea
      .form-group()
        label(class='col-sm-3 control-label', for='mobile') Mobile
        .col-sm-9
          input.form-control(type='text', name='mobile', id='mobile', value=ticket.mobile)
    .form-group
      label(class='col-sm-3 control-label', for='nationality') Nationality
      .col-sm-9
        input.form-control(type='text', name='nationality', id='nationality', value=ticket.nationality)
    .form-group
      label(class='col-sm-3 control-label', for='affiliation') Affiliation
      .col-sm-9
        input.form-control(type='text', name='affiliation', id='affiliation', value=ticket.affiliation)
    .form-group
      label(class='col-sm-3 control-label', for='position') Position
      .col-sm-9
        input.form-control(type='text', name='position', id='position', value=ticket.position)
    .form-group
      label(class='col-sm-3 control-label', for='advisor') Adivisor
      .col-sm-9
        input.form-control(type='text', name='advisor', id='advisor', value=ticket.advisor)
    .form-group
      label(class='col-sm-3 control-label', for='poster') Poster presentation
      .col-sm-9
        .form-check
          label(class='form-check-label')
            input(class='form-check-input', type='checkbox', name='poster', id='poster', value=true)
    .form-group
      label(class='col-sm-3 control-label') Payment Complete
      .col-sm-9
        if ticket.isPaid
          label(class='col-sm-2') Yes
        else
          label(class='col-sm-2') No
    .form-group
      .col-sm-offset-3
        .col-sm-3
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Modify Ticket

  form.form-horizontal(action='/ticket/delete', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-3 control-label', for='poster') Ticket Removal
      .col-sm-9
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Remove Ticket

